.App {
  text-align: center;
}

.App-logo {
  height: 160px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-title {
  animation: in-and-out-fading cubic-bezier(0.29, 0.78, 0.54, 0.18) 1.2s infinite;
}

@keyframes in-and-out-fading {
  from {
    color: inherit;
  }
  to {
    color: #ffc107;
  }
}
